.magic-form-errors {
  position: absolute;
  background: #d55c57;
  border: 2px solid #f50000;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  margin: 5px;
  padding: 10px;
  max-width: 300px;
  right: 10px;
  bottom: 50%;
  z-index: 999;
}

.magic-form-errors.suffix {
  bottom: auto;
}

.magic-form-errors:after,
.magic-form-errors:before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.magic-form-errors:after {
  border-color: rgba(213, 92, 87, 0);
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}

.magic-form-errors:before {
  border-color: rgba(245, 0, 0, 0);
  border-width: 13px;
  left: 50%;
  margin-left: -13px;
}

.magic-form-errors.suffix:after,
.magic-form-errors.suffix:before {
  bottom: 100%;
}

.magic-form-errors.suffix:after {
  border-bottom-color: #d55c57;
}

.magic-form-errors.suffix:before {
  border-bottom-color: #f50000;
}

.magic-form-errors.prefix:after,
.magic-form-errors.prefix:before {
  top: 100%;
}

.magic-form-errors.prefix:after {
  border-top-color: #d55c57;
}

.magic-form-errors.prefix:before {
  border-top-color: #f50000;
}
